# 2021 Philadelphia Race Profile

### Description:
The selected American Community Survey (ACS) 2021 (5-Year Estimates) dataset was sourced from Social Explorer; U.S. Census Bureau. The ACS survey data is used to explored Philadelphia's race profile, as well as the North Philadelphia's Logan Neighborhood Race Profile. Then, Philadelphia's 2010 census tracts are imported via a geojson file soured from Open Data Philly. The race data is then overlayed on the spatial file to view at the city and neighborhood level.

#### Author: 

Lindsey Morris

In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium

Load a data file from Week 3 of my repo

In [2]:
race = pd.read_csv('2021race.csv')

Inspect size of the data

In [3]:
race.shape

(408, 70)

The output above shows that there are 408 row and 70 columns in the dataset

In [4]:
race.head()

,Geo_FIPS,Geo_QName,Geo_FILEID,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,...,SE_A03001_006,SE_A03001_007,SE_A03001_008,PCT_SE_A03001_002,PCT_SE_A03001_003,PCT_SE_A03001_004,PCT_SE_A03001_005,PCT_SE_A03001_006,PCT_SE_A03001_007,PCT_SE_A03001_008
0,42101000101,"Census Tract 1.01, Philadelphia County, Pennsy...",ACSSF,pa,140,0,8807,NaN,NaN,NaN,...,0,99,37,83.98,1.40,0.00,7.83,0.0,4.94,1.85
1,42101000102,"Census Tract 1.02, Philadelphia County, Pennsy...",ACSSF,pa,140,0,8808,NaN,NaN,NaN,...,0,48,35,91.24,2.98,0.00,2.76,0.0,1.74,1.27
2,42101000200,"Census Tract 2, Philadelphia County, Pennsylvania",ACSSF,pa,140,0,8809,NaN,NaN,NaN,...,0,3,235,31.14,6.59,0.00,55.30,0.0,0.09,6.88
3,42101000300,"Census Tract 3, Philadelphia County, Pennsylvania",ACSSF,pa,140,0,8810,NaN,NaN,NaN,...,0,56,405,63.63,6.11,0.08,17.25,0.0,1.57,11.36
4,42101000401,"Census Tract 4.01, Philadelphia County, Pennsy...",ACSSF,pa,140,0,8811,NaN,NaN,NaN,...,0,0,128,61.99,14.57,0.00,18.46,0.0,0.00,4.97

The output above shows the first 5 rows of the dataset

Look at the data type

In [5]:
race.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 70 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Geo_FIPS           408 non-null    int64
 1   Geo_QName          408 non-null    object
 2   Geo_FILEID         408 non-null    object
 3   Geo_STUSAB         408 non-null    object
 4   Geo_SUMLEV         408 non-null    int64
 5   Geo_GEOCOMP        408 non-null    int64
 6   Geo_LOGRECNO       408 non-null    int64
 7   Geo_US             0 non-null      float64
 8   Geo_REGION         0 non-null      float64
 9   Geo_DIVISION       0 non-null      float64
 10  Geo_STATECE        0 non-null      float64
 11  Geo_STATE          408 non-null    int64
 12  Geo_COUNTY         408 non-null    int64
 13  Geo_COUSUB         0 non-null      float64
 14  Geo_PLACE          0 non-null      float64
 15  Geo_TRACT          408 non-null    int64
 16  Geo_BLKGRP         0 non-null      float64
 17  Geo_CONCIT         0 non-null      float64
 18  Geo_AIANHH         0 non-null      float64
 19  Geo_AIANHHFP       0 non-null      float64
 20  Geo_AIHHTLI        0 non-null      float64
 21  Geo_AITSCE         0 non-null      float64
 22  Geo_AITS           0 non-null      float64
 23  Geo_ANRC           0 non-null      float64
 24  Geo_CBSA           0 non-null      float64
 25  Geo_CSA            0 non-null      float64
 26  Geo_METDIV         0 non-null      float64
 27  Geo_MACC           0 non-null      float64
 28  Geo_MEMI           0 non-null      float64
 29  Geo_NECTA          0 non-null      float64
 30  Geo_CNECTA         0 non-null      float64
 31  Geo_NECTADIV       0 non-null      float64
 32  Geo_UA             0 non-null      float64
 33  Geo_UACP           0 non-null      float64
 34  Geo_CDCURR         0 non-null      float64
 35  Geo_SLDU           0 non-null      float64
 36  Geo_SLDL           0 non-null      float64
 37  Geo_VTD            0 non-null      float64
 38  Geo_ZCTA3          0 non-null      float64
 39  Geo_ZCTA5          0 non-null      float64
 40  Geo_SUBMCD         0 non-null      float64
 41  Geo_SDELM          0 non-null      float64
 42  Geo_SDSEC          0 non-null      float64
 43  Geo_SDUNI          0 non-null      float64
 44  Geo_UR             0 non-null      float64
 45  Geo_PCI            0 non-null      float64
 46  Geo_TAZ            0 non-null      float64
 47  Geo_UGA            0 non-null      float64
 48  Geo_PUMA5          0 non-null      float64
 49  Geo_PUMA1          0 non-null      float64
 50  Geo_GEOID          408 non-null    object
 51  Geo_NAME           408 non-null    object
 52  Geo_BTTR           0 non-null      float64
 53  Geo_BTBG           0 non-null      float64
 54  Geo_PLACESE        0 non-null      float64
 55  SE_A03001_001      408 non-null    int64
 56  SE_A03001_002      408 non-null    int64
 57  SE_A03001_003      408 non-null    int64
 58  SE_A03001_004      408 non-null    int64
 59  SE_A03001_005      408 non-null    int64
 60  SE_A03001_006      408 non-null    int64
 61  SE_A03001_007      408 non-null    int64
 62  SE_A03001_008      408 non-null    int64
 63  PCT_SE_A03001_002  391 non-null    float64
 64  PCT_SE_A03001_003  391 non-null    float64
 65  PCT_SE_A03001_004  391 non-null    float64
 66  PCT_SE_A03001_005  391 non-null    float64
 67  PCT_SE_A03001_006  391 non-null    float64
 68  PCT_SE_A03001_007  391 non-null    float64
 69  PCT_SE_A03001_008  391 non-null    float64
dtypes: float64(50), int64(15), object(5)
memory usage: 223.2+ KB

#### Assigning Data Types on Import

Take a closer look at the unique identifier column, Geo_FIPS.

In [6]:
race.Geo_FIPS.head()

0    42101000101
1    42101000102
2    42101000200
3    42101000300
4    42101000401
Name: Geo_FIPS, dtype: int64

In [7]:
race.head()

,Geo_FIPS,Geo_QName,Geo_FILEID,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,...,SE_A03001_006,SE_A03001_007,SE_A03001_008,PCT_SE_A03001_002,PCT_SE_A03001_003,PCT_SE_A03001_004,PCT_SE_A03001_005,PCT_SE_A03001_006,PCT_SE_A03001_007,PCT_SE_A03001_008
0,42101000101,"Census Tract 1.01, Philadelphia County, Pennsy...",ACSSF,pa,140,0,8807,NaN,NaN,NaN,...,0,99,37,83.98,1.40,0.00,7.83,0.0,4.94,1.85
1,42101000102,"Census Tract 1.02, Philadelphia County, Pennsy...",ACSSF,pa,140,0,8808,NaN,NaN,NaN,...,0,48,35,91.24,2.98,0.00,2.76,0.0,1.74,1.27
2,42101000200,"Census Tract 2, Philadelphia County, Pennsylvania",ACSSF,pa,140,0,8809,NaN,NaN,NaN,...,0,3,235,31.14,6.59,0.00,55.30,0.0,0.09,6.88
3,42101000300,"Census Tract 3, Philadelphia County, Pennsylvania",ACSSF,pa,140,0,8810,NaN,NaN,NaN,...,0,56,405,63.63,6.11,0.08,17.25,0.0,1.57,11.36
4,42101000401,"Census Tract 4.01, Philadelphia County, Pennsy...",ACSSF,pa,140,0,8811,NaN,NaN,NaN,...,0,0,128,61.99,14.57,0.00,18.46,0.0,0.00,4.97

Confirm race dataset has the correct datatypes.

In [8]:
race.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 70 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Geo_FIPS           408 non-null    int64
 1   Geo_QName          408 non-null    object
 2   Geo_FILEID         408 non-null    object
 3   Geo_STUSAB         408 non-null    object
 4   Geo_SUMLEV         408 non-null    int64
 5   Geo_GEOCOMP        408 non-null    int64
 6   Geo_LOGRECNO       408 non-null    int64
 7   Geo_US             0 non-null      float64
 8   Geo_REGION         0 non-null      float64
 9   Geo_DIVISION       0 non-null      float64
 10  Geo_STATECE        0 non-null      float64
 11  Geo_STATE          408 non-null    int64
 12  Geo_COUNTY         408 non-null    int64
 13  Geo_COUSUB         0 non-null      float64
 14  Geo_PLACE          0 non-null      float64
 15  Geo_TRACT          408 non-null    int64
 16  Geo_BLKGRP         0 non-null      float64
 17  Geo_CONCIT         0 non-null      float64
 18  Geo_AIANHH         0 non-null      float64
 19  Geo_AIANHHFP       0 non-null      float64
 20  Geo_AIHHTLI        0 non-null      float64
 21  Geo_AITSCE         0 non-null      float64
 22  Geo_AITS           0 non-null      float64
 23  Geo_ANRC           0 non-null      float64
 24  Geo_CBSA           0 non-null      float64
 25  Geo_CSA            0 non-null      float64
 26  Geo_METDIV         0 non-null      float64
 27  Geo_MACC           0 non-null      float64
 28  Geo_MEMI           0 non-null      float64
 29  Geo_NECTA          0 non-null      float64
 30  Geo_CNECTA         0 non-null      float64
 31  Geo_NECTADIV       0 non-null      float64
 32  Geo_UA             0 non-null      float64
 33  Geo_UACP           0 non-null      float64
 34  Geo_CDCURR         0 non-null      float64
 35  Geo_SLDU           0 non-null      float64
 36  Geo_SLDL           0 non-null      float64
 37  Geo_VTD            0 non-null      float64
 38  Geo_ZCTA3          0 non-null      float64
 39  Geo_ZCTA5          0 non-null      float64
 40  Geo_SUBMCD         0 non-null      float64
 41  Geo_SDELM          0 non-null      float64
 42  Geo_SDSEC          0 non-null      float64
 43  Geo_SDUNI          0 non-null      float64
 44  Geo_UR             0 non-null      float64
 45  Geo_PCI            0 non-null      float64
 46  Geo_TAZ            0 non-null      float64
 47  Geo_UGA            0 non-null      float64
 48  Geo_PUMA5          0 non-null      float64
 49  Geo_PUMA1          0 non-null      float64
 50  Geo_GEOID          408 non-null    object
 51  Geo_NAME           408 non-null    object
 52  Geo_BTTR           0 non-null      float64
 53  Geo_BTBG           0 non-null      float64
 54  Geo_PLACESE        0 non-null      float64
 55  SE_A03001_001      408 non-null    int64
 56  SE_A03001_002      408 non-null    int64
 57  SE_A03001_003      408 non-null    int64
 58  SE_A03001_004      408 non-null    int64
 59  SE_A03001_005      408 non-null    int64
 60  SE_A03001_006      408 non-null    int64
 61  SE_A03001_007      408 non-null    int64
 62  SE_A03001_008      408 non-null    int64
 63  PCT_SE_A03001_002  391 non-null    float64
 64  PCT_SE_A03001_003  391 non-null    float64
 65  PCT_SE_A03001_004  391 non-null    float64
 66  PCT_SE_A03001_005  391 non-null    float64
 67  PCT_SE_A03001_006  391 non-null    float64
 68  PCT_SE_A03001_007  391 non-null    float64
 69  PCT_SE_A03001_008  391 non-null    float64
dtypes: float64(50), int64(15), object(5)
memory usage: 223.2+ KB

#### Drop/Delete Null Columns

In [9]:
race.columns[race.isna().all()].tolist()

['Geo_US',
 'Geo_REGION',
 'Geo_DIVISION',
 'Geo_STATECE',
 'Geo_COUSUB',
 'Geo_PLACE',
 'Geo_BLKGRP',
 'Geo_CONCIT',
 'Geo_AIANHH',
 'Geo_AIANHHFP',
 'Geo_AIHHTLI',
 'Geo_AITSCE',
 'Geo_AITS',
 'Geo_ANRC',
 'Geo_CBSA',
 'Geo_CSA',
 'Geo_METDIV',
 'Geo_MACC',
 'Geo_MEMI',
 'Geo_NECTA',
 'Geo_CNECTA',
 'Geo_NECTADIV',
 'Geo_UA',
 'Geo_UACP',
 'Geo_CDCURR',
 'Geo_SLDU',
 'Geo_SLDL',
 'Geo_VTD',
 'Geo_ZCTA3',
 'Geo_ZCTA5',
 'Geo_SUBMCD',
 'Geo_SDELM',
 'Geo_SDSEC',
 'Geo_SDUNI',
 'Geo_UR',
 'Geo_PCI',
 'Geo_TAZ',
 'Geo_UGA',
 'Geo_PUMA5',
 'Geo_PUMA1',
 'Geo_BTTR',
 'Geo_BTBG',
 'Geo_PLACESE']

Output above shows many null columns

Eliminate the null columns

In [10]:
race = race.dropna(axis=1,how="all")

check that the null columns have been dropped

In [11]:
race.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Geo_FIPS           408 non-null    int64
 1   Geo_QName          408 non-null    object
 2   Geo_FILEID         408 non-null    object
 3   Geo_STUSAB         408 non-null    object
 4   Geo_SUMLEV         408 non-null    int64
 5   Geo_GEOCOMP        408 non-null    int64
 6   Geo_LOGRECNO       408 non-null    int64
 7   Geo_STATE          408 non-null    int64
 8   Geo_COUNTY         408 non-null    int64
 9   Geo_TRACT          408 non-null    int64
 10  Geo_GEOID          408 non-null    object
 11  Geo_NAME           408 non-null    object
 12  SE_A03001_001      408 non-null    int64
 13  SE_A03001_002      408 non-null    int64
 14  SE_A03001_003      408 non-null    int64
 15  SE_A03001_004      408 non-null    int64
 16  SE_A03001_005      408 non-null    int64
 17  SE_A03001_006      408 non-null    int64
 18  SE_A03001_007      408 non-null    int64
 19  SE_A03001_008      408 non-null    int64
 20  PCT_SE_A03001_002  391 non-null    float64
 21  PCT_SE_A03001_003  391 non-null    float64
 22  PCT_SE_A03001_004  391 non-null    float64
 23  PCT_SE_A03001_005  391 non-null    float64
 24  PCT_SE_A03001_006  391 non-null    float64
 25  PCT_SE_A03001_007  391 non-null    float64
 26  PCT_SE_A03001_008  391 non-null    float64
dtypes: float64(7), int64(15), object(5)
memory usage: 86.2+ KB

Null columns were dropped

Reinspect the data below

In [12]:
race.head()

,Geo_FIPS,Geo_QName,Geo_FILEID,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_LOGRECNO,Geo_STATE,Geo_COUNTY,Geo_TRACT,...,SE_A03001_006,SE_A03001_007,SE_A03001_008,PCT_SE_A03001_002,PCT_SE_A03001_003,PCT_SE_A03001_004,PCT_SE_A03001_005,PCT_SE_A03001_006,PCT_SE_A03001_007,PCT_SE_A03001_008
0,42101000101,"Census Tract 1.01, Philadelphia County, Pennsy...",ACSSF,pa,140,0,8807,42,101,101,...,0,99,37,83.98,1.40,0.00,7.83,0.0,4.94,1.85
1,42101000102,"Census Tract 1.02, Philadelphia County, Pennsy...",ACSSF,pa,140,0,8808,42,101,102,...,0,48,35,91.24,2.98,0.00,2.76,0.0,1.74,1.27
2,42101000200,"Census Tract 2, Philadelphia County, Pennsylvania",ACSSF,pa,140,0,8809,42,101,200,...,0,3,235,31.14,6.59,0.00,55.30,0.0,0.09,6.88
3,42101000300,"Census Tract 3, Philadelphia County, Pennsylvania",ACSSF,pa,140,0,8810,42,101,300,...,0,56,405,63.63,6.11,0.08,17.25,0.0,1.57,11.36
4,42101000401,"Census Tract 4.01, Philadelphia County, Pennsy...",ACSSF,pa,140,0,8811,42,101,401,...,0,0,128,61.99,14.57,0.00,18.46,0.0,0.00,4.97

#### Working with the Census Data Dictionary

##### Define Columns to Keep

In this session, the ACS 2021 "Race by Ethnicity" columns (listed below) are being analyzed. 

Geo_FIPS: Geographic FIPS identifier
- SE_A03001_001: Total Population
- SE_A03001_002: Non Hispanic White Alone
- SE_A03001_003: Non Hispanic Black or African American Alone 
- SE_A03001_004: Non Hispanic American Indian and Alaska Native Alone
- SE_A03001_005: Non Hispanic Asian Alone
- SE_A03001_006: Non Hispanic Native Hawaiian and Pacific Islander Alone
- SE_A03001_007: Non Hispanic Other Alone
- SE_A03001_008: Non Hispanic Multi Race
- PCT_A03001_002: % White Alone
- PCT_A03001_003: % Black or African American Alone
- PCT_A03001_004: % American Indian and Alaska Native Alone
- PCT_A03001_005: % Asian Alone
- PCT_A03001_006: % Native Hawaiian and Other Pacific Islander Alone
- PCT_A03001_007: % Some Other Race Alone
- PCT_A03001_008: % Two or More Races

Create a subset of our dataframe and create a new dataframe

In [13]:
columns_to_keep = ['Geo_FIPS',
                   'SE_A03001_001',
                   'SE_A03001_002',
                   'SE_A03001_003',
                   'SE_A03001_004',
                   'SE_A03001_005',
                   'SE_A03001_006',
                   'SE_A03001_007',
                   'SE_A03001_008',
                   'PCT_A03001_002',
                   'PCT_A03001_003',
                   'PCT_A03001_004',
                   'PCT_A03001_005',
                   'PCT_A03001_006', 
                   'PCT_A03001_007',
                   'PCT_A03001_008']

race2 = race[columns_to_keep]

KeyError: "['PCT_A03001_002', 'PCT_A03001_003', 'PCT_A03001_004', 'PCT_A03001_005', 'PCT_A03001_006', 'PCT_A03001_007', 'PCT_A03001_008'] not in index"

Rename the kept columns. Begin by creating a list of columns as they are now

In [ ]:
columns = list(race2) # this is the same as race.columns.to_list()
columns

Replace the values with desired column names

In [ ]:
race2.columns = ['FIPS',
'Total Population',
'White',
'Black',
'American Indian and Alaska Native',
'Asian',
'Native Hawaiian and Pacific Islander',
'Other Race',
'Multi Race'
'Percent White'
'Percent Black',
'Percent American Indian and Alaska Native',
'Percent Asian',
'Percent Native Hawaiian and Other Pacific Islander',
'Percent Other Race'
'Percent Two or More Races']

In [ ]:
race2.sample(5)

Columns have been renamed correctly.

#### Philadelphia race stats and plots

View the Total Population Mean of Philadelphia County

In [ ]:
race2['Total Population'].mean()

View the Total Population Media of Philadelphia County

In [ ]:
race2['Total Population'].median()

View more stats available for total population of Philadeliphia County

In [ ]:
race2['Total Population'].describe()

Plot it as a historgram with 50 bins

In [ ]:
race2['Total Population'].plot.hist(bins=50)

Histogram on Non Hispanic White Alone across Philadelphia County

In [ ]:
race2['White'].plot.hist(bins=50)

Histogram on Non Hispanic Black Alone Population in Philadelphia County

In [ ]:
race2['Black'].plot.hist(bins=50)

Box plot of Philadelphia County Population

In [ ]:
race2.boxplot(column=['Total Population'])

Scatter Plot of Non Hispanic Black Alone and Non Hispanic White Alone populations in Philadelphia County

In [ ]:
race2.plot.scatter(x='Black',y='White')

Scatter Plot of Non Hispanic Black Alone and Non Hispanic American Indian and Alaska Native Alone populations in Philadelphia County

In [ ]:
race2.plot.scatter(x='Black',y='American Indian and Alaska Native')

#### Sorting

Sort the data by their respective columns

In [ ]:
race_sorted = race2.sort_values(by='Total Population',ascending = False)

Display a few columns of the sorted data

In [ ]:
race_sorted[['FIPS','Total Population']].head(10)

Plot it

In [ ]:
race_sorted.head(10).plot.bar(x='FIPS',
                            y='Total Population')

Add a Title

In [ ]:
race_sorted.head(10).plot.barh(x='FIPS',
                            y='Total Population', 
                            title='Top 10 Census Tracts with Highest Population in Philadelphia County in 2021',
                            color='green')

#### Filtering and Subsetting the Data

Subset the data so that we can see the data per row

In [ ]:
race2[race2['Total Population']==0]

Create a new variable for census tracts with zero population in Philadelphia County

In [ ]:
race_no_pop = race2[race2['Total Population']==0]

How many records?

In [ ]:
print('There are ' + str(len(race_no_pop)) + ' census tracts with no people in them')

Display it

In [ ]:
race_no_pop[['FIPS','Total Population']]

#### Create a subset of data for the logan Neighborhood

In [ ]:
# Specify the desired FIPS by their IDs
subset = [42101028000, 42101028100, 42101028200, 42101028300, 42101028400, 42101028500]

# Create a subset of the data for the desired FIPS
subset = race[race2["FIPS"].isin(subset)]

# Save the subset to a new CSV file
subset.to_csv("census_subset.csv", index=False)

In [ ]:
subset.info()

This subset of data contains columns we don't need

In [ ]:
columns_to_keep = ['Geo_FIPS',
                   'SE_A03001_001',
                   'SE_A03001_002',
                   'SE_A03001_003',
                   'SE_A03001_004',
                   'SE_A03001_005',
                   'SE_A03001_006',
                   'SE_A03001_007',
                   'SE_A03001_008',]

subset2 = subset[columns_to_keep]

Rename the kept columns. Begin by creating a list of columns as they are now

In [ ]:
columns = list(subset2) # this is the same as race.columns.to_list()
columns

['Geo_FIPS',
 'SE_A03001_001',
 'SE_A03001_002',
 'SE_A03001_003',
 'SE_A03001_004',
 'SE_A03001_005',
 'SE_A03001_006',
 'SE_A03001_007',
 'SE_A03001_008']

Replace the values with desired column names

In [ ]:
subset2.columns = ['FIPS',
'Total Population',
'White',
'Black',
'American Indian and Alaska Native',
'Asian',
'Native Hawaiian and Pacific Islander',
'Other Race',
'Multi Race']

Check sample to see if rename worked

In [ ]:
subset2.sample(5)

success!

### Narrowing Race Variables to compare with 1940 racial demographics

Due to the 1940 race data only having "White", "Black", and "other Race", we will combine those columns for the 2021 data, to show a comparison.

In [ ]:
subset2["Other"] = subset2[["American Indian and Alaska Native", "Asian", "Native Hawaiian and Pacific Islander", "Other Race", "Multi Race"]].sum(axis=1)
subset2.drop(columns=["American Indian and Alaska Native", "Asian", "Native Hawaiian and Pacific Islander", "Other Race", "Multi Race"], inplace=True)

Now let's create stacked bar chart!

In [ ]:
# Convert the "FIPS" column in the CSV subset to string data type (object)
subset2['FIPS'] = subset2['FIPS'].astype(str)

# set the FIPS column as the index
subset2.set_index('FIPS', inplace=True)

# remove the 'total population' column
subset2.drop('Total Population', axis=1, inplace=True)

# define a list of custom colors
colors = ['#ABD9B5', '#2C8EBF', '#008080']

# plot the stacked bar chart with custom colors
ax = subset2.plot(kind='bar', stacked=True, color=colors)

# set the axis labels and title
ax.set_xlabel('Census Tract')
ax.set_ylabel('Population')
ax.set_title('Logan Demographic Distribution by Race Category, 2021')

# show the chart
plt.show()

#### Importing Census Tract Geojson File

In [ ]:
import geopandas as gpd
import matplotlib.pyplot as plt

Read in a geojson file downloaded from Open Data Philly

In [ ]:
tracts=gpd.read_file('Census_Tracts_2010.geojson')
tracts.head()

plot the file

In [ ]:
tracts.plot(figsize=(12,10))

Learn more about this dataset

In [ ]:
tracts.info(verbose=True, show_counts=True)

Only FIPS and geometry are needed, so subset the data

In [ ]:
tracts2 = tracts[['TRACTCE10','geometry']]
tracts2.head()

Create a FIPS column

In [ ]:
tracts2['FIPS'] ='42'+'101'+tracts['TRACTCE10']

In [ ]:
tracts2.head()

##### Merging/Joining Data

Create a new dataframe based on the join

In [ ]:
tracts2.dtypes

In [ ]:
race2.dtypes

In [ ]:
# Convert the "FIPS" column in the CSV to string data type (object)
race2['FIPS'] = race2['FIPS'].astype(str)

In [ ]:
tracts2_race2=tracts2.merge(race2,on="FIPS")

In [ ]:
tracts2_race2.head()

Create a merged data set with the Logan Neighborhood subset of data.

In [ ]:
tracts2_subset2=tracts2.merge(subset2,on="FIPS")

In [ ]:
subset2.info()

#### Create Choropleth Maps

Map Philadelphia Non Hispanic Black Alone population

In [ ]:
tracts2_race2.plot(figsize=(12,10),
                 column='Black',
                 legend=True, 
                 scheme='NaturalBreaks')

Map Logan  Non Hispanic Black Alone population

In [ ]:
tracts2_subset2.plot(figsize=(12,10),
                 column='Black',
                 legend=True, 
                 scheme='NaturalBreaks')

The map outputs demonstrate that the Logan Neigbhorhood is located within a part of neighborhood that has a higher Non Hispanic Black Along population than other parts of Philadelphia

Try to view same race data through the " Quantiles" Scheme

In [ ]:
tracts2_race2.plot(figsize=(12,10),
                 column='Black',
                 legend=True, 
                 scheme='quantiles')

In [ ]:
tracts2_subset2.plot(figsize=(12,10),
                 column='Black',
                 legend=True, 
                 scheme='quantiles')

#### Let's try to make a live folium map!

Finally, we can create the map using folium. We can use the Choropleth function from folium to create the map and plot the data on it

In [ ]:
# Need to edit to add variable to be percent!!!

In [ ]:
#import folium and it's plugin
import folium
from folium.plugins import MarkerCluster

# Define initial map location as Philadelphia and zoom level
# philadelphia center = 39.9526° N, 75.1652° W

# Create a map object and set the tiles to Stamen TonerLite
my_map = folium.Map(location=[39.9526, -75.1652], zoom_start=10, tiles='Stamen TonerLite', attr='Map tiles by Stamen Design, under CC BY 3.0. Data by OpenStreetMap, under ODbL.')

# Add a choropleth layer to the map
folium.Choropleth(
    geo_data=tracts2_race2,
    name='choropleth',
    data=tracts2_race2,
    columns=['FIPS', 'White'],
    key_on='feature.properties.FIPS',
    fill_color='YlGn',
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name='Percent White',
    highlight=True
).add_to(my_map)

# Display the map
my_map

Here, we are using the folium.Choropleth class to create a choropleth layer on the map. We pass in the merged data frame (tracts2_race2) as the geo_data parameter, and specify the FIPS and Percent White columns as the data columns for the choropleth using the columns parameter. The key_on parameter is set to feature.properties.FIPS to match the format of the FIPS code in the GeoJSON file. The fill_color parameter is set to 'YlGn' to specify the color scale for the choropleth.

I may need to adjust the fill_color, fill_opacity, and line_opacity parameters to get the desired visualization.

To add multiple race layers to the map, you can use the LayerControl method from the folium.plugins module. This allows you to toggle different layers on and off in the map.

In [ ]:
import folium
from folium.plugins import HeatMap, MarkerCluster, LayerControl

# Create a map centered on the US
m = folium.Map(location=[39.9526, 75.1652], zoom_start=4)

# Create a HeatMap layer for each race
heatmaps = {}
for race in ['white', 'black', 'other']:
    heatmaps[race] = HeatMap(tracts2_race2[['LATITUDE', 'LONGITUDE', f'{race}_pct']].values.tolist(),
                             name=f'{race.capitalize()} Population',
                             min_opacity=0.2,
                             max_val=0.5,
                             radius=7,
                             blur=3,
                             overlay=True,
                             control=False).add_to(m)

# Add a LayerControl to toggle the different race layers
LayerControl(collapsed=False).add_to(m)

# Show the map
m

In [ ]:
#save as an html 
# m.save('LA_Black.html')